*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #edeff1;
    color: #444444;
    font-family: Helvetica, Arial;
}

/* Container */
.container
{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header
{
    position: relative;
    height: 200px;
    margin-bottom: 40px;
    padding-top: 65px;
    padding-left: 40px;
    background: #ffffff;
}

.header .title
{
    font-size: 50px;
}

.header .links
{
    position: absolute;
    top: 85px;
    right: 40px;
}

.header .links .link
{
    color: #444444;
    text-decoration: none;
    padding: 10px;
}

.header .links .link:hover
{
    text-decoration: underline;
}

/* Articles */
.articles
{
    font-size: 0;
    margin-bottom: 20px;
}

.article
{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 390px;
    margin-bottom: 50px;
    background: #ffffff;
    font-size: 14px;
}

.article:nth-child(odd)
{
    margin-right: 40px;
}

.article .description
{
    padding: 34px 40px;
    font-size: 14px;
}

.article .description .title
{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
}

.article .know-more
{
    position: absolute;
    bottom: -20px;
    right: 20px;
    padding: 14px 18px;
    background: #fc534c;
    color: #ffffff;
    text-decoration: none;
}

.article .know-more:hover
{
    background: #ff615c;
}

/* Footer */
.footer
{
    padding: 30px 40px;
    background: #232729;
    color: #ffffff;
    font-size: 14px;
}

.footer a
{
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover
{
    text-decoration: underline;
}