body
{
    background: #edeff1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444444;
}

.container
{
    width: 840px;
    margin: 0 auto;
}

@media (max-width: 1024px)
{
    body
    {
        font-size: 13px;
    }

    .container
    {
        width: auto;
        margin: 0 40px;
    }
}

@media (max-width: 720px)
{
    body
    {
        font-size: 12px;
    }

    .container
    {
        margin: 0 30px;
    }
}

@media (max-width: 560px)
{
    .container
    {
        margin: 0 20px;
    }
}

@media (max-width: 420px)
{
    .container
    {
        margin: 0 10px;
    }
}

/*
 * Header
 */
.header
{
    position: relative;
    height: 200px;
    margin-bottom: 40px;
    background: #ffffff;
}

.header a
{
    text-decoration: none;
}

.header .title
{
    position: absolute;
    top: 85px;
    left: 40px;
    font-size: 50px;
    font-weight: 600;
}

.header .navigation
{
    position: absolute;
    top: 88px;
    right: 40px;
}

.header .navigation .link
{
    padding: 15px;
}

@media (max-width: 1024px)
{
    .header
    {
        height: 160px;
    }

    .header .title
    {
        top: 65px;
        font-size: 45px;
    }

    .header .navigation
    {
        top: 70px;
    }

    .header .navigation .link
    {
        padding: 10px;
    }
}

@media (max-width: 720px)
{
    .header
    {
        height: auto;
        padding: 30px;
        margin-bottom: 20px;
    }

    .header .title
    {
        position: static;
        margin-bottom: 20px;
    }

    .header .navigation
    {
        position: static;
        margin-left: -5px;
    }
}

@media (max-width: 560px)
{
    .header
    {
        padding: 20px 0;
        text-align: center;
    }

    .header .navigation .link
    {
        padding: 5px;
    }
}

/*
 * Articles
 */
.articles
{
    margin-bottom: 100px;
    font-size: 0;
}

.articles .article
{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 390px;
    margin-bottom: 50px;
    background: #ffffff;
    font-size: 14px;
}

.articles .article:nth-child(odd)
{
    margin-right: 40px;
}

.articles .article .thumbnail
{
    display: block;
}

.articles .article .content
{
    padding: 40px;
}

.articles .article .title
{
    margin-bottom: 1em;
    font-weight: 600;
}

.articles .article .read-more
{
    display: block;
    position: absolute;
    bottom: -20px;
    right: 20px;
    padding: 14px 20px;
    background: #fc534c;
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 1024px)
{
    .articles
    {
        margin-bottom: 60px;
    }

    .articles .article
    {
        width: calc(50% - 20px);
        height: 350px;
        font-size: 13px;
    }

    .articles .article .thumbnail
    {
        width: 100%;
    }

    .articles .article .content
    {
        padding: 30px;
    }
}

@media (max-width: 720px)
{
    .articles .article
    {
        width: calc(50% - 10px);
        height: 300px;
    }

    .articles .article:nth-child(odd)
    {
        margin-right: 20px;
    }

    .articles .article .content
    {
        padding: 20px;
    }
}

@media (max-width: 560px)
{
    .articles .article
    {
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }

    .articles .article:nth-child(odd)
    {
        margin-right: 0;
    }

    .articles .article .read-more
    {
        position: static;
        text-align: center;
    }
}

/*
 * Footer
 */
.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    background: #232729;
    color: #ffffff;
}

@media (max-width: 1024px)
{
    .footer
    {
        padding: 20px 30px;
    }
}